<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="armadillo-code" version="7.800.2" targetFramework="native" />
  <package id="Microsoft.Graphics.Win2D" version="1.3.2" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.3179.45" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240405.15" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.250325.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.26100.1742" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.7.250401001" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
</packages>